<!DOCTYPE html>
<html>
<head>
  <title>Tunr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <h1><%= link_to "TunR", root_path %></h1>

    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Artists", artists_path %>
      <%= link_to "Songs", songs_path %>
      <%= link_to "Mixtapes", mixtapes_path %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>

</body>
</html>
