<%= form_for @artist do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :nationality %><br>
    <%= f.text_field :nationality %>
  </p>
  <p>
    <%= f.label :period %><br>
    <%= f.text_field :period %>
  </p>
  <p>
    <%= f.label :date_of_birth %><br>
    <%= f.text_field :date_of_birth %>
  </p>
  <p>
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </p>

  <p>
    <%= f.label :painting_ids, "Artist" %>
    <%= f.collection_select(:painting_ids, Painting.all, :id, :title ) %>
  </p>

  <% Painting.all.each do |painting| %>
    <%= f.check_box :painting_ids, {name: "artist[painting_ids][]"}, painting.id, nil %>
    <%= f.label :artist_ids, painting.title %>
  <% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>